altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.3.2
colorama==0.4.6
dnspython==2.6.1
filelock==3.16.1
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
platformdirs==4.3.6
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQtWebEngine-Qt5==5.15.2
pywin32-ctypes==0.2.3
qt-material==2.14
requests==2.32.3
tqdm==4.66.5
uritools==4.0.3
urlextract==1.9.0
urllib3==2.2.3
